.authorization__info {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

.authorization__info:hover {
  opacity: 0.8;
}