.popup__close {
    position: absolute;
    background: transparent url(../../../images/Close_Icon.svg) no-repeat 50%;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    border: none;
    padding: 0;
    margin: 0;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 550px) {
    .popup__close {
        background: transparent url(../../../images/Close_Icon_m.svg) no-repeat 50%;
        min-width: 20px;
        min-height: 20px;
        top: -43px;
        right: -7px;
        padding: 0;
    }
}

